<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>

<body>
<div th:if="${DefaultPasswordChanged} != false">
    <div th:replace="fragments/navbar :: navbar"></div>
</div>
<div class="container">
    <div th:if="${not #lists.isEmpty(filteredGyogyszerek)}">
        <table class="table table-striped">
            <tr>
                <th>Név</th>
                <th>Mennyiség</th>
                <th>Ár/Mennyiség</th>
                <th>Ár</th>
                <th>Vényköteles</th>

            </tr>
            <tr th:each="gyogyszer : ${filteredGyogyszerek}">
                <td th:text="${gyogyszer.gyogyszerNev}"></td>
                <td th:text="${gyogyszer.gyogyszerMennyiseg}"></td>
                <td th:text="${gyogyszer.gyogyszerAr/gyogyszer.gyogyszerMennyiseg}"></td>
                <td th:text="${gyogyszer.gyogyszerAr}"></td>
                <td th:text="${gyogyszer.venykoteles} ? 'Igen' : 'Nem'"></td>
            </tr>
            </tr>
        </table>
    </div>

    <div class="form-group">
        <a th:href="@{/hatoanyag}" class="btn mb20 mb20 pull-left btn-large btn-primary">Vissza</a>
    </div>
</div>
</body>
</html>