<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/head :: head"></head>

<div th:if="${DefaultPasswordChanged} != false">
    <div th:replace="fragments/navbar :: navbar"></div>
</div>

    <div class="container">
        <div th:if="${notSamePassword} == true" class="alert alert-warning">
            <strong>Figyelem!</strong> A megadott jelszavak nem egyeznek!
        </div>
        <div th:if="${samePassword} == true" class="alert alert-warning">
            <strong>Figyelem!</strong> A régi és az új jelszó ugyanaz!
        </div>


        <form method="post" id="mainForm" th:action="@{/jelszocsere}" th:object="${user}">
            <div class="container">

                <input hidden type="text"  id="username"
                       th:field="*{userName} ">
                <label for="password">Kezdeti jelszó módosítása:</label>
                <div class="form-group">
                    <input type="password"  id="password" placeholder="Jelszó"
                           th:field="*{password}">
                </div>

                <div class="form-group">
                    <input type="password"  id="password2" placeholder="Jelszó mégegyszer"
                           th:field="*{password2}">
                </div>
                <button type="submit" class="btn btn-default">jelszó módosítása</button>
            </div>
        </form>
    </div>


</body>
</html>